  body {
    background: #FFF;
  }
  
  .smaller-image {
    height: 50%; 
    width: 50%;
    
  }
  
  .questionnare {
    font-size: 30px;
  }

  #snailplanation {
    
    font-size: 10px;
    
  }
